@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins&display=swap');
:root{
  --primary--color: #202020;
  --seconday--color: #f4f7fc6e;
  --grey: #a6a6a6;
}
html{
  font-size: 62.5%;
 scroll-behavior: smooth;
}

*,
::before,
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish' , sans-serif;
}
 
h1,h2,h3{
  font-family: 'Playfair', serif;
  font-weight: 800;
  color: var(--primary--color);
  margin: 1.6rem 0;
}
p{
  font-weight: 400;
  margin: 1.6rem 0;
  font-size: 1.6rem;
  color: var(--primary--color);
  line-height: 1.5;
}
h1{
  font-size: 4rem;
}
@media only screen and (max-width:768px){
  h1{
    font-size: 3rem;
  }
}
h2{
  font-size: 3rem;
  letter-spacing: 1.5px;
}
h3{
   font-size: 2.5rem;
   letter-spacing: 1.5px;
}
h4{
  font-size: 1.6rem;
}
span{
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 500;
}
a{
  text-decoration: none;
  margin: 1.6rem 0;
  color: var(--grey);
  font-size: 1.6rem;
  border-bottom: 2px dotted var(--primary--color);
}
.site-container{
  width: 80%;
  margin: 0 auto;
  
}
img{
  max-width: 100%;
  height: auto;
}
hr{
  margin: 16px 0;
}
.srool-top{
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  background-color: #C8D366;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 800;
}

/* navigation */
nav{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .menu a{
  border-bottom: none;
  color: var(--primary--color);
  font-weight: 700;
  margin-left: 24px;
}
.mobile-menu{
  display: none;
}

@media   screen and (max-width:768px) {
  .mobile-menu{
    display: block ;
    font-size: 24px;
  }
  .menu{
    position: absolute;
    background-color: red; 
    width: 100%;
    top: 100%;
     z-index: 99; 
      display: none; 
    
  }
  .menu a{
    padding: 32px 0;
    font-size: 18px;
    display: block;
  }
  .show{
    display: block;
  }
}

/* hero section */
.hero{
  display: grid;
  grid-template-columns: 2fr 1fr ;
  position: relative;
}
.hero .left{
  background-image: url(images/top2.jpeg);
  background-size: cover;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .right{
  background-color: #C8D366;
}

.hero .content-box{
   position: absolute;
  background-color: #fffffc;
  padding:32px ;
  width: 35%;
  top: 50%;
  left: 65%;
  transform: translate(-40%,-50%);
}

@media screen and (max-width: 768px){
  .hero{
    grid-template-columns: 1fr;
  }
  .hero .content-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    padding: 8px 14px;
    background-color: #fffffc;
    
  }

}

/* blog */

main{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 50px;
  grid-gap: 60px;
}
.blog{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
}
.blog .thumbnail img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post{
  background-color: var(--seconday--color);
  margin: 24px 0;
  padding: 16px;
}
.blog-content{
  margin-top: 24px;
}
.pagination{
  display: inline-block;
}
.pagination .active{
  border: 1px solid var(--primary--color);
  background-color: var(--seconday--color);
}
.pagination a{
  color: var(--primary--color);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 0;
}
  @media  screen and (max-width : 768px){ 
    .site-container{
      width: 95%;
    }
    .blog{
      grid-template-columns: 1fr;
    }
    .blog-post{
      padding: 12px;
    }
  }

  /* aside */
  .wrapper{
    display: flex;
    align-items: center;

  }
  .wrapper .thumb{
    flex: 1;
  }
  .wrapper .content{
    flex: 2;
    padding: 16px;
  }
  .wrapper p,span,a{
    font-size: 1.4rem;
    margin: 0;
  }

  @media screen and (max-width:768px) {
    .site-container{
      width: 100%;
      padding: 0 24px;
    }
    main{
      grid-template-columns: 1fr;
    }
    .wrapper{
      margin: 24px 0;
    }
  }


  
/* footer */
footer{
  background-color: #212124;
  margin-top: 100px;
  padding: 100px 0;
}
footer h3{
  color: #fffffc;
}
footer p,span,a{
   color: #989CA1;
}

.footer-top{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0 auto;
  grid-gap: 60px;
  justify-items: center;
}
footer hr{
  margin: 60px 0;
}
.footer-bootom{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.footer-menu li{
  list-style-type: none;
  display: inline-block;
  margin-right: 16px;
}

/* .social-icons{
  color: var(--seconday--color);
  font-size: 16px;
  border: 1px solid var(--seconday--color);
  border-radius: 50px;
  padding: 8px;
} */

@media screen  and (max-width:786px){
  .footer-top{
    grid-template-columns: 1fr;
    justify-items:start ;
  }
  
}
